DB_HOST=order-db
DB_PORT=5432
DB_NAME=order_db
DB_USER=postgres
DB_PASSWORD=postgres

PRODUCT_API_URL=http://product-api:8000

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

SAGA_TIMEOUT_SECONDS=30
KAFKA_CONSUMER_GROUP_ID=order-service-group